@model PagedList.IPagedList<Watches.Models.Classes.Choose>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index","Chooses",FormMethod.Get))
{
    <p>
        Find By Title And Head:@Html.TextBox("search",ViewBag.filter as string)
        <input type="submit" value="Search" class="btn btn-danger"/>
    </p>
}
<table class="table">
    <tr>
        <th>
          Title
        </th>
        <th>
            Image
        </th>
        <th>
            @Html.ActionLink("Head", "Index", new { sort = ViewBag.Head })
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChooseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChooseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChooseID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Of @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, sort = ViewBag.sort, filter = ViewBag.filter }));












