@model Watches.Models.Classes.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feature.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeWatch.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeWatch.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
